# Hugo-generated assets
.hugo_build.lock
/public
/resources

# npm assets
node_modules/
package-lock.json

# Local scratch folder
/tmp

# macOS
.DS_Store

# Apps & services
/.netlify
/.vscode

# cSpell:ignore hugo
