@import 'td/code-dark';


.td-navbar {
    .navbar-brand {
      @include media-breakpoint-up(md) {
        padding: 0;
      }
      svg {
        height: 48px;
      }
      .navbar-brand__name {
        display: none;
      }
    }
  }